<div class='container'>
  <h1 style="color: #004d40; margin: auto; width: 80%; padding: 10px; ">Welcome to admin page</h1>
  <h4 style="color: #37474f;">New Product Upload</h2>
  <form
    action='/dimashki/admin/upload'
    method='post'
    enctype='multipart/form-data'
  >
    <div class='file-field input-field'>
      <div class='btn'>
        <span>Product's Image upload</span>
        <input name='myProduct' type='file' />
      </div>
      <div class='file-path-wrapper'>
        <input class='file-path validate' type='text' />
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <textarea
          id='textarea1'
          class='materialize-textarea'
          name='productNumber'
        ></textarea>
        <label for='textarea1'>Product Number</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <textarea
          id='textarea1'
          class='materialize-textarea'
          name='productDesc'
        ></textarea>
        <label for='textarea1'>Product description</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <textarea
          id='textarea1'
          class='materialize-textarea'
          name='productPrice'
        ></textarea>
        <label for='textarea1'>Product price</label>
      </div>
    </div>
    <button type='submit' class='btn teal darken-4' >Submit</button>
  </form>
  <form method='get' action='/dimashki/admin' >
      <button type='submit' class='btn red darken-4 ' >Cancel</button>
  </form>
</div>