<nav>
  <div class='nav-wrapper' style='background-color: #004d40;'>
    <a href='#' class='brand-logo'>Admin control panel</a>
    <ul
      id='nav-mobile'
      class='right hide-on-med-and-down'
      style='color: #004d40;'
    >
      <li>
        <form method='post' action='/dimashki/admin/add'>
          <input type='hidden' name='name' value='value' />
          <a onclick='this.parentNode.submit();'>Add Product</a>
        </form>
      </li>
      <li>
        <form method='post' action='/dimashki/admin/delete'>
          <input type='hidden' name='name' value='value' />
          <a onclick='this.parentNode.submit();'>Delete Product</a>
        </form>
      </li>
    </ul>
  </div>
</nav>
<h2
  style='margin: auto; width: 80%; padding: 10px; text-align: center; margin-top: 200px;'
>Welcome to the admin control panel</h2>
<p
  style='margin: auto; width: 80%; padding: 10px; text-align: center; font-size: large;'
>From this panel you can add and remove products from your website</p>