<div class='container'>
  <h1 style="color: #004d40; margin: auto; width: 80%; padding: 10px; ">Welcome to admin page</h1>
  <h4 style="color: #37474f;">Product Delete</h2>
  <form
    action='/dimashki/admin/erase'
    method='post'
    enctype='multipart/form-data'
  >
    <div class='row'>
      <div class='input-field col s12'>
        <textarea
          id='textarea2'
          class='materialize-textarea'
          name='productNo'
        ></textarea>
        <label for='textarea1'>Product Number</label>
      </div>
    </div>
    <button type='submit' class='btn teal darken-4' >Submit</button>
  </form>
</div>